@font-face {
  font-family: calculator;
  src: url(./fonts/calculator.ttf);
}

:root {
  --main-bg-color: black;
  --header-title-font-color: rgb(230, 214, 187);
  --border-color: rgb(105, 105, 105);
  --inner-border-header-color: black;
  --calc-head-font-color: grey;
  --head-digits-num-color: rgb(212, 212, 212);
  --screen-border-color: rgb(174, 174, 174);
  --screen-inner-border-color: rgb(210, 210, 210);
  --screen-font-color: rgba(196, 214, 224, 0.892);
  --screen-bg-color: rgb(108, 148, 143);
  --screen-font-shadow-color: black;
  --calc-body-inner-border-color: rgb(161, 224, 217);
  --keypad-bg-color: rgb(112, 134, 131);
  --button-font-color: rgb(187, 229, 255);
  --button-bg-color: rgb(50, 141, 166);
  --button-border-color: rgb(50, 141, 166);
  --button-shadow-color: rgba(72, 90, 96, 0.8);
  --button-hover-color: rgb(62, 157, 183);
  --button-active-shadow-color: rgba(72, 90, 96, 0.8);
  --footer-font-color: rgb(230, 214, 187);
  --footer-bg-color: black;
}

* {
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  background: var(--main-bg-color);
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  width: 400px;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 16px 0px;
}
.title {
  font-family: "Sprinkled", sans-serif;
  font-size: 64px;
  font-weight: 400;
  color: var(--header-title-font-color);
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  height: 530px;
  width: 367px;
}

.cal_head {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 180px;
  border: 4px solid var(--border-color);
  border-width: 4px 14px 8px; /* top, left/right, bottom */
  border-radius: 15px 15px 0 0;
  background-color: var(--border-color);
}

.cal_head > .inner_border {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  border: 1px solid var(--inner-border-header-color);
  border-radius: 8px;
  background: var(--inner-border-header-color);
  padding: 0px 8px;
}

.display_head {
  display: flex;
  justify-content: space-between;
  height: 35%;
  width: 100%;
}

.title_left {
  display: flex;
  flex-direction: column;
  width: 56%;
  height: 100%;
  padding-top: 8px;
  padding-left: 9px;
}

.title_left_row01 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}

.title_left_row01 > div {
  display: flex;
  align-items: baseline;
}

.circle {
  position: relative;
  height: 18px;
  color: var(--border-color);
  top: 3px;
  left: -1px;
}

.title_left > .title_left_row01 > div > h3 {
  display: inline;
  font-size: 16px;
  color: var(--calc-head-font-color);
  margin: 0;
  padding: 0;
}

.title_left > h5,
.title_left > .title_left_row01 > h5 {
  display: inline;
  font-size: 12px;
  color: var(--calc-head-font-color);
  margin: 0;
  padding: 2px 0;
}

.title_right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 12%;
  height: 100%;
}

.title_right > h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px;
  margin: 0;
  font-size: 18px;
  color: var(--head-digits-num-color);
  background: var(--calc-head-font-color);
  width: 28px;
  height: 28px;
  border-radius: 14px;
  overflow: hidden;
}

.title_right > h5 {
  font-size: 10px;
  color: var(--calc-head-font-color);
  margin: 0;
  padding: 3px 0;
}

.display_screen {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60%;
  width: 100%;
  border: 8px solid var(--screen-border-color);
  border-radius: 10px 10px 15px 15px; /* topleft, topright, bottom-right, bottom-left*/
  background: var(--screen-border-color);
  background: var(--screen-border-color);
}

.display_screen > .inner_border {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;
  padding-right: 8px;
  width: 100%;
  height: 100%;
  border: 1px solid var(--screen-inner-border-color);
  color: var(--screen-font-color);
  text-shadow: 1px 1px 2px var(--screen-font-shadow-color);
  background: var(--screen-bg-color);
  border-radius: 8px;
  font-family: calculator;
}

.operation {
  font-size: 20px;
}

.digits {
  font-size: 50px;
}

.cal_body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: calc(530px - 180px);
  border-left: 6px solid var(--border-color);
  border-right: 6px solid var(--border-color);
  border-bottom: 14px solid var(--border-color);
  border-radius: 0px 0px 15px 15px;
  padding: 0px 8px;
  background: var(--border-color);
}
.cal_body > .inner_border {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 16px;
  row-gap: 10px;
  border: 1px solid var(--calc-body-inner-border-color);
  border-radius: 8px;
  background: var(--keypad-bg-color);
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  font-size: 15px;
  padding: 0;
  margin: 0;
  color: var(--button-font-color);
  background: var(--button-bg-color);
  border: 1px solid var(--button-border-color);
  box-shadow: 3px 3px 3px 0px var(--button-shadow-color);
}

button:hover {
  background: var(--button-hover-color);
}

button:active {
  box-shadow: 1px 1px 1px 0px var(--button-active-shadow-color);
}

#row4 > #col4 {
  height: 100px;
}

#row0 > button {
  border-top-right-radius: 12.5px;
  border-bottom-right-radius: 12.5px;
  border-top-left-radius: 12.5px;
  border-bottom-left-radius: 12.5px;
}

#row0,
.row {
  width: 100%;
  height: fit-content;
  display: flex;
  gap: 20px;
}

#row0 {
  justify-content: right;
  height: 25px;
}

.row {
  justify-content: left;
  height: 45px;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 16px;
  color: var(--footer-font-color);
  background: var(--footer-bg-color);
  font-size: 20px;
  margin: 0;
}

.fa-github {
  color: var(--footer-font-color);
  font-size: 28px;
  transition: transform 0.3s ease-in-out;
}

.fa-github:hover {
  transform: rotateY(360deg) scale(1);
}
